@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0D0D0D;
}

.headerContenier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BF000C;
    padding: 15px;
    color: white;

}

.ulContenier {
    display: flex;
}

.ulContenier li {
    list-style: none;
}
.ulContenier li a {
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.login-search {
    display: flex;
    gap: 50px;
}
.login-search a {
    text-decoration: none;
    padding: 10PX;
    color: #1E5959;
    font-weight: 300;
    

}
.opções {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.img-opções {
    max-width: 15%;
    transition: transform 0.3s ease;
    border-radius: 5px;
}


 input { 
    border-radius: 15px;
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    padding: 10px;
}

input::placeholder {
    
    font-size: 15px;
    color: #1E5959;
    
}

.lista {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

img { 
    max-width:100%;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

img:hover {
    transform: translateY(-30px);
}

footer {
    text-align: center;
    color:white; 
    background-color: #BF000C;
    font-size: 15px;
    font-weight: 200;
}