*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #164773;
    color: white;
    padding: 15px;
    align-items:center;

}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 5px

}

.link2 {
    text-decoration: none;
    color: #89D99D; 
    font-size: 16px;
    font-weight: 600;
}

main {
    height: 100vw;
    background-color: #0B2B40;
}
 form {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 input { 
    border-radius: 15px;
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    padding: 10px;
}

input::placeholder {
    
    font-size: 15px;
    color: #1E5959;
    
}

.lista {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

img { 
    max-width: 100%;
}

